.login_block {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.login_block input {
  border: 1px solid #ccc;
  margin: 0 0 20px;
  height: 20px;
  padding: 5px 10px;
}

.login_block input[type="submit"] {
  margin: 0;
  height: 30px;
}